body {
    background: black;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    width: 100%;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: purple;
    text-decoration-color: white;
    transition: all 0.2s ease-in-out;
  }
  
  .active {
    background-color: purple;
  }

  img {
    width: 25%;
    height: 270px;
    border-radius: 32px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: #333;
  }

h1 {
    text-align: center;
    font-size: 72px;
    background: -webkit-linear-gradient(#ffff, purple);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h2{
    text-align: center;
    color: #ffff;
    
}

h3{
    color: purple;
}

p {
    color: whitesmoke;

}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 50%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr {
    background-color: #dddddd;
  }